fastapi==0.65.2
cryptography==39.0.1
PyJWT==2.4.0
fastapi-utils==0.2.1
alembic==1.4.3
psycopg2-binary==2.8.6
pydantic==1.7.4
git+https://github.com/jefmoura/sdk-fastapi@v0.2.0#egg=sdk-fastapi
gunicorn==23.0.0
uvicorn[standard]
